*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background:  rgba(19, 170, 230, 0.6);
	padding: 20px 0;
	width: 100%;
}



form{
	margin: 20px  0;
}

form label{
	font-size: 18px;
}
form input{
	width: 50%;
	height: 30px;
	margin-bottom: 10PX;
}

form legend{
	width: 100%;
}

form#form-adiciona fieldset{
	display: none;
}

form#form-adiciona fieldset.active{
	display: block;
}

#titulo-form{
	font-size: 2em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	
}

.caixa{
  position: relative;
  width: 940px;
  margin: 0px auto;
}

h1 img{
	width: 150px;
	border-radius: 1em;
	
}

nav{
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  text-transform: uppercase;
  color:white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #fafd35;
  text-decoration: underline;

}

.container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}


section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

section h3{
	font-size: 1.5em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}


th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 50%;
	padding: .7em;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

 #cadastrarCategoria, #cadastrarProduto, #cadastrarServico, #cadastrarAgendamento,#botao-enviar {
	width: 150px;
} 

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.botoesForm button{
	display: inline-block;
	width: 15%;
}

.adicionar-cliente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.cliente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}


footer{
    text-align: center;
    color: white;
	background:  rgba(19, 170, 230, 0.6);
	padding: 20px 0;
    
}

footer img{
	width: 150px;
	border-radius: 1em;

}

.copyright{
    color:#FFFFFF;
    font-size: 16px;
    margin: 20px 0 0;
}


#listar{
	position: absolute;
	background: #f00;	
	min-height: 100px;
	display: none;
}
.active{
	display: block !important;
}


.campoMenor{
	width: 100px;

}

#maisum{

	background-color: white ;
	color: skyblue;
	font-size: 30px;

	padding:0;
	cursor: pointer;
	border: none;
	width: 10px !important ;
    display: block;
    clear: both;
    margin: 0;
}


